@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

html,body 
{ height: 100vh; margin: 0px; padding: 0px; }

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0px;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.App {
  display: flex;
  flex-direction:column;
  min-height: 100vh;
  justify-content: center;
}

.formulario{
  min-width: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.imagen{
  min-width: 50%;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/pexels-olga-lioncat-7245366.jpg);
  background-size: contain;
}

.formularioLogin{
  text-align:center;
  margin-left: -100px;
}


input{
  display:block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 150%;
  height: 24px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 8px;
  
}

label{
  display:block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;  
}

button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top:50px;
  width: 150%;
  margin-left: 5px;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 15px;
  height: 28px;
  transition: 0.5s all ease;
}

button:hover{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: white;
  color: black;
}